/* Paso 1: reset y variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Paso 4: paleta de colores y medidas */
}

/* Paso 4: diseño de la calculadora */

/* Paso 5: diseño de la pantalla */

/* Paso 6: diseño de los botones */
